# Hidden directories to ignore
.idea
.vscode

*Z_*/
*z_*/
data/*/
doxygen/
*build*/

tflink-debug
tflink-release
tflink-collisions

# File extensions to ignore
*.hdf5
*.h5
*.data
*.old
*.xdmf
*.csv
*.dat
*.out
*.swp
*.log
*.tar
*.tgz
*.tar.gz
*.png
*.jpg
*.gif
*.err
*.backup
*.o*
*.e*
*.mp4
*.mat
*.toml
.lock

!*.options

# Object files
*.o
*.s
*.dSYM
*.a

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Unit test / coverage reports
.coverage
coverage.xml
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Jetbrains
cmake-build-*/

# IPython
profile_default/
ipython_config.py
venv/

# Latex
*.dvi 
*.bak  
*.idx 
*.ps 
*.eps 
*.pdf 
*.aux
*.pdf
*.dvi
*.bbl
*.blg
*.toc
*.snm
*.vrb
*.nav
*.DS_Store
*.fls 
*.fdb_latexmk 
main.pdf
